@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
    font: 400 14px "Calibri", "Arial";
}

/* Login form */
.login {
    display: inline-block;
}
.login-form {
    display: inline-block;
}

/* Button */
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #385898;
    background-color: #e7f3ff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.btn:hover {
    background-color: #DBE7F2;
}
.btn:active {
    transform: scale(0.96);
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}
/* Button sub */
.btn-sub {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 30px;
    line-height: 30px;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    color: #385898;
    background-color: #f4f9ff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn-sub:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.btn-sub:hover {
    background-color: #ebeff1;
}
.btn-sub:active {
    transform: scale(0.96);
}
.btn-sub:disabled {
    pointer-events: none;
    opacity: 0.65;
}

/* Input form */
.input-form {
    display: grid;
}
.input-form input {
    padding: 10px;
    margin: 10px;
    height: auto;
}
.input-form > .btn {
    padding: 0;
}

.input {
    padding: 10px;
    margin: 10px;
    height: auto;
}

.title-content {
    font-size: xx-large;
    text-align: center;
}

/* Error block */
.error-message {
    color: red;
    padding: 0 0 50px 0;
    display: contents;
}

/* Info block */
.info-message {
    color: dodgerblue;
    padding: 0 0 50px 0;
    text-align: center;
    display: contents;
}
.info-text {
    font-size: xx-large;
}
