@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/*Login form*/
.login {
    display: inline-block;
}
.login-form {
    display: inline-block;
}

/*Button*/
.btn {
    display: inline-block;
    box-sizing: border-box;
    padding: 0 20px;
    margin: 0 15px 15px 0;
    outline: none;
    border: none;
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    color: #385898;
    background-color: #e7f3ff;
    cursor: pointer;
    user-select: none;
    appearance: none;
    touch-action: manipulation;
}
.btn:focus-visible {
    box-shadow: 0 0 0 2px #666;
}
.btn:hover {
    background-color: #DBE7F2;
}
.btn:active {
    transform: scale(0.96);
}
.btn:disabled {
    pointer-events: none;
    opacity: 0.65;
}

/*SignUp*/
.signup-form {
    display: grid;
}
.signup-form input {
    padding: 10px;
    margin: 10px;
    height: auto;
}
.signup-form > .btn {
    padding: 0;
}

.title-content {
    font-size: xx-large;
    text-align: center;
}

.error-message {
    color: red;
}
.info {
    font-size: xx-large;
}
